.header {
  display: block;
  background-color: $background;
  margin: 0 150px 0 150px;
  min-width: 400px;
  grid-area: header;
  &__content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 4px solid $detalleAzul;
    &-logo {
      display: flex;
      width: 300px;
      height: 200px;
    }
    &-title {
      display: flex;
      align-items: center;
      color: $detalleAzul;
    }
  }
}

.navbar {
  display: none;
}

.offcanvas-header {
  border-bottom: 1px solid $detalleAzul;
}

.header__content-navbar {
  display: flex;
  align-items: center;
  margin: 10px;
  li {
    margin: 10px;
    list-style-type: none;
    a {
      color: $detalleAzul;
      font-size: 21px;
      &:hover {
        color: rgb(93, 101, 127);
      }
    }
  }
}