
.main {
  display: block;
  background-color: $background;
  margin: 0 150px 0 150px;
  min-width: 440px;
  padding: 10px;
  grid-area: main;
  &__images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows:250px; 
    gap: 10px;
    align-content: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@mixin columns {
  grid-column: 2/4;
}

@mixin rows {
  grid-row: 2/4;
}

.image {
  transition: 0.2s;
  opacity: 75%;
  &:hover {
    width: 101%;
    height: 101%;
    opacity: 100%;
  }
  &:first-child {
    grid-column: 1/2;
  }
  &:nth-child(2) {
    @include columns;
  }
  &:nth-child(5) {
    @include columns;
    @include rows;
  }
  &:nth-child(6) {
    @include rows;
  }
  &:nth-child(7){
    grid-column: 4/6;
  }
}


.sobre__nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  &-container {
    padding: 20px;
    width: 70%;
  }
  &-texto {
    h2 {
      color:  $detalleAzul;
    }
  }
  &-fotoimg {
    width: 400px;
    height: 430px;
    border-radius: 130px;
  }
}

.inputForm {
  width: 300px;
  padding: 7px;
  border: 2px solid  $detalleAzul;
  background-color: $background;
  font-family: 'Kanit', sans-serif;
  border-radius: 5px;
}

.form {
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: column;
    margin: 40px;
  }
  &__nombre {
    display: flex;
    flex-direction: column;
    input {
      @extend .inputForm;
    }    
  }
  &__mail {
    display: flex;
    flex-direction: column;
    input {
      @extend .inputForm;
    }    
  }
  &__telefono {
    display: flex;
    flex-direction: column;
    input {
      @extend .inputForm;
    }
  }
  &__consultas {
    display: flex;
    flex-direction: column;
    textarea {
      padding: 7px;
      min-width: 400px;
      max-width: 400px;
      min-height: 150px;
      max-height: 150px;
      border: 2px solid  $detalleAzul;
      background-color: $background;
      font-family: 'Kanit', sans-serif;
      border-radius: 5px;
    }
  }
  &__notificaciones {
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
  }
  &__boton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 50px;
      border: none;
      background-color: $detalleAzul;
      color: $background;
      font-size: 18px;
      border-radius: 5px;
      &:hover {
        background-image: radial-gradient(circle, rgb(25, 41, 93), rgb(5, 12, 35));
      }
    }
  }
}